/* header */
header ul, li {
    padding: 0;
    list-style: none;
    margin: 0;
  }
  
  header .connect-info {
    height: 3.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.85rem;
    background-color: #0689bd;
    color: #fff;
  }
  
  .connect-info__item a {
    text-decoration: none;
    color: inherit;
  }
  
  .connect-info__item span svg{
    font-size: 1.3rem;
    color: rgb(223, 204, 204);
    vertical-align: middle;
    
  }
  
  .connect-info__item:first-child{
    margin-bottom: 0.2rem;
  }
  
  /* header--navigation */
  .navbar {
    height: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    /* background-color: lightcoral; */
  }
  
  .navbar .menu-button svg {
    font-size: 2rem;
    margin: 0 auto;
    display: block;
  }
  
  .navbar-link {
    display: none;
    padding: 0;
    /* background-color: khaki; */
  }
  .navbar-link .navbar-link__items {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navbar-link .navbar-link__item {
    font-size: 1.2rem;
    margin-right: 4rem;
  }
  .navbar-link .navbar-link__item:last-child{
   margin-right: 0;
  }
  .navbar-link .navbar-link__item > a {
    color: #0689bd;
  }
  
  .navbar-brand .navbar-brand__image {
    display: block;
    max-width: 7rem;
    width: 100%;
    height: 3rem;
  }
  .navbar-link__item > a:hover,
  .nav-menu__item--name:hover{
    color: rgb(177, 162, 162);
    cursor: pointer;
  }
  
  /* dropdown */
  
  .dropdown {
    display: inline-block;
    position: relative;
  }


.dropdown-content {
  display: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.3rem;
  background-color: rgb(248, 248, 248);
  color: #022330;
  border-radius: 2px;
  margin: 1rem 0;
}

.dropdown-content ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.dropdown-content ul li {
  padding: 0;
  margin: 0;
  border-top: 1px solid #b3b0b0;
  width: 100%;
  /* height: 3.25rem; */
}

.dropdown-content ul li a {
  padding: 1rem;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}

.dropdown-content ul li:first-child {
  border-top: none;
}

/* .dropdown-content ul li a {
  display: inline-block;
} */

.dropdown-content ul li:hover {
  background-color: #0689bd;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}




  /* mobile nav */
  .mobile-nav {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    z-index: 2;
    right: 0;
    color: #fff;
    background-color: #022330;
    transition: width 0.3s linear;
  }

  .mobile-nav__close {
    height: 3.5rem;
    padding: 0.2rem;
  }

  .mobile-nav__close svg{
    font-size: 2rem;
    position: fixed;
    right: 1.5rem;
    top: 0.9rem;
   
  }

  .mobile-nav-link { 
    margin: 0;
    margin-top: 3rem;
    padding: 0;
    font-size: 1.45rem;
    /* background-color: coral; */
  }

  .mobile-nav-link__items {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem 1.3rem;
    /* padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem; */
    /* width: 100%; */
    /* overflow-x: hidden; */
  }

  .mobile-nav-link__item {
    margin-top: 2rem;
    transition: 0.1s;
  }

  .mobile-nav-link__item:first-child {
    margin-top: 0;
  }

  /* .mobile-nav-link__item:hover, */
   .menu-button:hover,
   .mobile-nav__close:hover{
   cursor: pointer;
  }


  .mobile-nav-link a {
    color: inherit;
    text-decoration: none;
  }

  /* .mobile-nav-link .dropdown > div {
    position: absolute;
  } */

  .mobile-nav-link .dropdown svg {
    vertical-align: middle;
    font-size: 1.7rem;
    position: absolute;
  }

  .show-mobile-nav {
    width: 50%;
  }

  .close-mobile-nav {
    width: 0;
  }



  @media (min-width: 48rem){
    header .connect-info {
      padding: 0;
    }

    header .connect-info .connect-info__items{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      margin: 0;
      height: 100%;
      /* background-color: coral; */
    }

    header .connect-info .connect-info__item {
      margin: 0 3rem;
    }

    /* navigation */
    .navbar {
      padding-left: 7rem;
      padding-right: 7rem;
      height: 5rem;
    }
    .navbar .menu-button {
      display: none;
    }

    .navbar-link .navbar-link__item {
      margin-right: 5rem;
    }
    .navbar-link .navbar-link__item:last-child{
     margin-right: 0;
    }

    .navbar-brand .navbar-brand__image {
      display: block;
      max-width: 10rem;
      width: 100%;
      height: 4rem;
    }

    .navbar-link {
      display: block;
    }

    .dropdown-content {
      position: absolute;
      margin-top: 0;
      width: 15rem;
      margin-left: -50%;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 2px 2px 10px #ddd;
    }
   
  }