/* header */
header ul, li {
    padding: 0;
    list-style: none;
    margin: 0;
  }
  
  header .connect-info {
    height: 3.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.85rem;
    background-color: #0689bd;
    color: #fff;
  }
  
  .connect-info__item a {
    text-decoration: none;
    color: inherit;
  }
  
  .connect-info__item span svg{
    font-size: 1.3rem;
    color: rgb(223, 204, 204);
    vertical-align: middle;
    
  }
  
  .connect-info__item:first-child{
    margin-bottom: 0.2rem;
  }
  
  /* header--navigation */
  .navbar {
    height: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    /* background-color: lightcoral; */
  }
  
  .navbar .menu-button svg {
    font-size: 2rem;
    margin: 0 auto;
    display: block;
  }
  
  .navbar-link {
    display: none;
    padding: 0;
    /* background-color: khaki; */
  }
  .navbar-link .navbar-link__items {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navbar-link .navbar-link__item {
    font-size: 1.2rem;
    margin-right: 4rem;
  }
  .navbar-link .navbar-link__item:last-child{
   margin-right: 0;
  }
  .navbar-link .navbar-link__item a {
    color: #0689bd;
    text-decoration: none;
  }
  
  .navbar-brand .navbar-brand__image {
    display: block;
    max-width: 7rem;
    width: 100%;
    height: 3rem;
  }
  
  /* dropdown */
  
  .dropdown {
    display: inherit;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown-content {
  display: none;
  font-size: 1rem;
  background-color: rgb(248, 248, 248);
  color: #022330;
  border-radius: 2px;
  margin: 0.5rem 0;
}
.dropdown-content ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.dropdown-content ul li {
  padding: 0.8rem;
  margin: 0;
  border-top: 1px solid #ddd;
  width: 100%;
}

.dropdown-content ul li:first-child {
  border-top: none;
}

/* .dropdown-content ul li a {
  display: inline-block;
} */

.dropdown-content ul li:hover {
  background-color: #0689bd;
  color: rgb(255, 255, 255);
}




  /* mobile nav */
  .mobile-nav {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    z-index: 2;
    right: 0;
    color: #fff;
    background-color: #022330;
    transition: width 0.3s linear;
  }

  .mobile-nav__close {
    height: 3.5rem;
    padding: 0.2rem;
  }

  .mobile-nav__close svg{
    font-size: 2rem;
    position: fixed;
    right: 1.5rem;
    top: 0.9rem;
   
  }

  .mobile-nav-link {
    display: flex;
    margin: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    padding: 3rem 0.7rem;
    font-size: 1.25rem;
    /* background-color: coral; */
  }

  .mobile-nav-link__item {
    margin-top: 1.7rem;
    transition: color 0.1s;
  }

  .mobile-nav-link__item:hover,
   .menu-button:hover,
   .mobile-nav__close:hover{
   cursor: pointer;
  }

  .mobile-nav-link__item:hover {
    color: rgb(177, 162, 162);
  }

  .mobile-nav-link a {
    color: inherit;
    text-decoration: none;
  }

  .mobile-nav-link svg {
    vertical-align: middle;
    font-size: 1.7rem;
    margin-top: -0.2rem;
  }
  .show-mobile-nav {
    width: 50%;
  }

  .close-mobile-nav {
    width: 0;
  }



  @media (min-width: 48rem){
    header .connect-info {
      padding: 0;
    }

    header .connect-info .connect-info__items{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      margin: 0;
      height: 100%;
      /* background-color: coral; */
    }

    header .connect-info .connect-info__item {
      margin: 0 3rem;
    }

    /* navigation */
    .navbar {
      padding-left: 7rem;
      padding-right: 7rem;
      height: 5rem;
    }
    .navbar .menu-button {
      display: none;
    }

    .navbar-link .navbar-link__item {
      margin-right: 4rem;
    }
    .navbar-link .navbar-link__item:last-child{
     margin-right: 0;
    }

    .navbar-brand .navbar-brand__image {
      display: block;
      max-width: 10rem;
      width: 100%;
      height: 4rem;
    }

    .navbar-link {
      display: block;
    }
  }