
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */


* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

/* svg {
  margin: 0 auto;
} */


body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

a {
  text-decoration: none;
}


#root {
  height: 100%;
}

/* page layout */
.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 8.5rem 1fr 15rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  margin: 0;
  color: #0689bd;
  /* background-color: lightcoral; */
}

main {
  margin: 0;
}

footer {
  margin: 0;
  background-color: #0689bd;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}



